body {
   background-color: #854836;
}
.bg {
    border: 1px solid #f7f7f7;
    background-image: url('Images/img2.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: left;
    opacity: 90%;
    border-radius: 21px;
    height: 57.5rem;
}
#j,#k,#fm,#f,#s,#e {
    background-color: #000000;
    color: #F5B553;
    border: 2px solid #f7f7f7;
    opacity: 90%;
}
.keys  {
    display: grid;
    grid-template-columns: 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33%;
    height: 300px;
    width: 80%;
    gap: 2px;
    margin: 180px 0 0 170px;
}
.key {
    display: grid;
    align-content: center;
    justify-content: center;
    transition:all 0.07s;
    border: 1px solid #f7f7f7;
    background-color: #854836;
    color: #F5B553;
    border-radius: 21px;  
}
.playing (
    transform:scale(1.1);
    border-color:#ffc600;
)
.k {
    margin-bottom: 45px;
    text-align: center;
    font-size: 25px;  
    color: #f7f7f7;
}
.sound {
    font-size: 12px;
}
.h1 {
    display: grid;
    align-content: center;
    justify-content: center;
}
h1 { 
    margin-top: 100px;
    font-size: 42px;
    font-style: italic;
    color: #000000;
    background-color: #854836;
    max-width: max-content;
    border-radius: 21px;
    padding: 7px;
    opacity: 90%;
}
h2 {
    max-width: max-content;
    font-size: 25px;
    background-color: #854836;
    color: #F5B553;
    border-radius: 21px;
    padding: 7px;
    margin-left: 38px;
    margin-bottom: 0;
}
.p {
    display: grid;
    align-content: center;
    justify-content: center;
}
p {
    margin-top: 25px;
    max-width: fit-content; 
    background-color: #854836;
    color: #000000;
    border-radius: 21px;
    padding: 7px;
    font-size: 12px;
}
.sprig {
    text-decoration: none;
    color: #F5B553;
}